/* about sectinon style */
.about {
  padding: 80px 20px;
  background: #020617;
  color: white;
  text-align: center;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.about p {
  max-width: 800px;
  margin: 0 auto 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #cbd5f5;
}

.about span {
  color: #38bdf8;
  font-weight: 600;
}
